:root{
    --white:#fff;
    --gray:#c4c4c4;
    --dark-gray:#474b5e;
    --dark:#252731;
    --light-green:#3bd33b;
    --green:#47b847;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: var(--gray);
    font-family: sans-serif;
}

main{
    max-width: 1366px;
    margin: 0 auto;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: var(--green);
}
nav .logo{
   max-height: 100%;
   border-radius: 50%;
   
}
nav .logo:hover{
    border-radius:0%;
}
nav .nav-items{
    list-style-type: none;
    display: flex;
}
nav .nav-items .nav-item{
    padding-left: 2rem;
}
.nav-item .nav-link{
    text-decoration: none;
    color:var(--dark);
}
.nav-item .nav-link:hover{
    color:var(--white);

}
nav #mobile-menu{
    color:var(--dark);
    font-size: 2rem;
    display: none; 
    cursor: pointer;
}
.cta{
        font-family: inherit;
        padding: 0.5rem 1rem;
        border: none;
        color:var(--white);
        border-radius: 1rem;
        cursor: pointer;
        font-size: 1rem;
}
.cta.dark{
    background-color: var(--dark);
    transition: background-color 0.3s;
}
.cta.dark:hover{
    background-color:var(--dark-gray);
}
.cta.green{
    background-color:var(--green);
    transition: background-color 0.3sec;
}
.cta.green:hover{
    background-color:var(--light-green);
}
/* القسم الاساسي */
.hero{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero h1{
    font-size: 3rem;
    width:40%;
    text-align: center;
    color:var(--dark);
    margin-bottom: 2rem;
}
.hero h1 span{
    text-shadow: 0 0 10px var(--green);
    font-style: italic;
}

/* الميزات */

.activities{
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.activities h3{
    color:var(--dark);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 5px var(--green);
}
.activities h6{
    color:var(--dark);
    font-size: 1rem;
    margin-bottom: 3rem;
    
}
.activity{
    background-color: var(--dark-gray);
    display: flex;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 10px 10px 10px var(--dark);
    margin: 2rem;
    height: 350px; 
    
}
.activity .content{
    padding: 1rem;
    flex:1;
    overflow-y: auto
}
.activity .content h2{
    color:var(--white);
    margin-bottom: 2rem;
}
.activity .content p{
    color:var(--gray);
    font-size: 1.2rem;
    
    
}
.activity img{
    flex:1;
    max-width: 50%;
    
}
/* من نحن */
.whoarewe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}
.whoarewe h3{
    background-color: var(--light-green);
    margin-bottom: 1rem;
}
.whoarewe h4{
    text-decoration: underline;
    text-decoration-color: var(--green);
    margin-bottom: 1rem;
}

/* التذييل */
footer{
    background-color:var(--dark-gray);
    min-height: 10vh; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer h3{
    color:var(--white);
    font-size: 1rem;
    
    text-align: center;
}
footer .icons{
    display: flex;
}
footer i{
    color:var(--gray);
    font-size: 1.5rem;
}
footer i:hover{
    color: var(--light-green);
}


/* responsive design */
@media screen and (max-width:900px){
    .hero h1{
        width:80%;
    }
    
}
@media screen and (max-width:600px){
    html{
        font-size:90%;
    }
    .hero h1{
        width:90%;
    }
    
    .activity{
        flex-direction: column;
        height: fit-content;
    }
    .activity .content{
        max-height: 350px;
    }
    .activity img{
        max-width: 100%;
        max-height: 350px;
    }

    nav #mobile-menu{
        display:block;
    }
    nav .nav-items{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: var(--green);
        width:100%;
        height: 35%;
        top:12vh;
        left:0;
        align-items: center;
    }
    nav .nav-items .nav-item{
        padding: 1rem 0;
        font-size: 1.5rem;
    }
    nav .nav-items.active{
        display: flex;
    }
    .whoarewe iframe{
        max-width: 90vw;
    }
}
